.content {
  padding: 15px;
  font-size: 18px;
  background: #041C32;
  font-family: "Roboto";
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.center {
  justify-content: center;
}

.logo {
  width: 40px;
  height: 40px;
  transition: 0.3s;
  opacity: 0.7;
}

.logo:hover {
  cursor: pointer;
  opacity: 1;
}